@import '../../node_modules/jeet/styl/index'

$cBack = white
$cBack2 = #5C415D
$cHeaderT = white
$cLink = $cHeaderT
$cAccent = #E94F37
$cPollButton = #9882AC

*
    box-sizing border-box
    
body
    background $cBack
    margin 0

header
    background $cBack2
    color $cHeaderT
    box-shadow: 1px 1px 3px #aaa

input, label
    font-size 120%

.navLogo
    float left
    display inline-block
    h2
        margin 0
        padding 0
nav
    clearfix()
.nav
    list-style: none
    float: right
    margin 0
    padding 0
.navUser
    float: right
    margin 0
    margin-top 7px
    padding  0px 20px
    h4
        margin 0
.navItem
    transition all 0.5s ease-out
    display: inline-block
    padding 10px 20px
    margin 0
    color $cLink
    &:hover
        background $cAccent
        color $cLink
button, .button
    transition all 0.5s ease-out
    box-shadow: 1px 1px 3px #aaa

li.button    
    margin 0
    margin-top 4px
    margin-left 10px
    vertical-align: top
    box-shadow: none
.active
    box-shadow: 0px 2px $cAccent

.container
    center(1080px)
.pageHeadline
    border: 1px solid #fafafa
    margin 45px 0
    padding 10px 30px
    box-shadow: 1px 1px 3px #aaa
    border-radius: 7px

.subHeadline
    margin 40px 0px
.createPollButton
    background $cAccent
    border 1px solid $cAccent
    margin-left 30px
.buttonWrap
    text-align: center
    margin-bottom: 30px

.poll
    transition all 0.5s ease-out
    position relative
    justify-content: center
    border: 1px solid #fafafa
    box-shadow: 1px 1px 3px gray
    border-radius 7px
    margin-bottom 30px
    clearfix()
a
    .poll
        color #606c76
a:hover
    .poll
        color #606c76
        border: 1px solid lighten($cAccent, 0.5)
        box-shadow: 1px 1px 3px $cAccent

.pollDeleteButton
    background: $cAccent
    position absolute
    top 5px
    right 5px
    padding 12px
    line-height: 4px
    font-size 130%
    border-radius: 7px
    border none

.pollQuestion
    font-weight: bold
    margin-top 20px
    text-align: center
.pollAuthor
    text-align: center
    color lightgray
.pollOption
    text-align: center
    width: 99%
    margin 10px 0.5%
    background #efeff6
    border-radius: 7px
    padding 5px
    box-shadow: 1px 1px 3px #aaa
.pollChart
    width 100%
    clearfix()
.pollButton
    font-family: 'Roboto'
    text-transform: none
    font-size 1.2em
    font-weight: 100
    display: inline-block
    width: 99%
    margin 5px 0.5%
    background $cPollButton
    border none
    &:active
        background $cAccent
    
    
